.rectline {
    font-size: 16px;
    margin: 0 auto;
}

.rectline svg {
    padding-top: 5px;
    width: 100%;
}

.rectline svg rect.blue {
    fill: #1B85AC;
}

.rectline svg rect.lightblue {
    fill: #18C2FF;
}

.rectline svg rect.yellow {
    fill: #ffcc66;
}

.rectline svg rect.red {
    fill: #ff5566;
}

.rectline svg rect:hover {
    fill: #44aaaa;
}

.rectline svg rect.rectlineon {
    stroke: #FFFFFF;
    fill: #FFFFFF;
}
